
/*de achtergrond kleur */
body{
    background-color:orange;
}
/*de content is alles wat in de body staat dit staat in aparte div --> content , mooi vak van maken en dat is waar alles in moet dit is de opmaak voor alle paginas dus staat apart en van boven*/
/*ook de H1 indiend deze er is komt mooi in het midden*/
h1{
    display: flex;
    justify-content: center;
    text-align: center;
}
/*knop word op meerdere plaatsen gebruikt deze word hier ook op voorhan al gemaakt*/

.knop{
    width: 200px;
    height: 60px;
    /* text in het midden zetten*/
    display: flex;
    justify-content: center;
    align-items: center;


    background-color:#EC7063;

    margin-top: 50px;
    margin-left: 200px;
    color: black;
    text-decoration: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style:initial;

}
.knop:hover{
    background-color: goldenrod;
    color: gray;
    
}


/*HIER KOMT ALLES VAN INDEX.PHP*/

.content{
     /*KLEUR VAN HET VLAK*/
     background-color: #33DBFF;

     /*GROOTTE VAN HET VLAK*/
     min-height: 700px;
     width: 600px;
 
     /*POSITIE OP DE PAGINA VAN HET VLAK*/
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
 
     /*WITRUIMTE INTERN TOV BOVENKANT*/
     padding-top: 10px;
 }
.gif-main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.first_text{
    display: flex;
    justify-content: center;
    align-items: center;
}




/*table*/

table{

    margin-left: 5px;
}


/*pagina houses*/
/*deze zijn anders getagt omwille van in een 2x2 tabel te staan gewoon op de class genoemd*/
.button_house{
    width: 200px;
    height: 60px;
    /* text in het midden zetten*/
    display: flex;
    justify-content: center;
    align-items: center;


    background-color:#EC7063;

    margin-top: 50px;
    margin-left: 50px;
    color: black;
    text-decoration: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style:initial;

}
.button_house:hover{
    background-color: goldenrod;
    color: gray;
}
.user_picture{
    display: flex;
    justify-content: center;
    align-items: center;

}
/*Hier komt alles van de pagina aanmelden.php*/

.foto_aanmelden{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_aanmelden{
    width: 30%;
    height:30%;
    margin-top: -250px;
    margin-left: 50px;
   
}

/* placing form*/
.form{
    margin-left: 10px;
    text-align: center;
}

/* input met class type field color and with*/
input.input_field{
    background-color: #eeeeee;
    width: 300px;
}
.knop_createNewMember{
    width: 200px;
    height: 60px;
    /* text in het midden zetten*/
    display: flex;
    justify-content: center;
    align-items: center;


    background-color:#EC7063;

    margin-top: 50px;
    margin-left: 190px;
    color: black;
    text-decoration: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style:initial;

}
.knop:hover{
    background-color: goldenrod;
    color: gray;
    
}

