
/*de achtergrond kleur */
body{
    background-color:#FFA500;
        background-image: url("../../assets/images/background_wallpaper.jpg");

}
/*de content is alles wat in de body staat dit staat in aparte div --> content , mooi vak van maken en dat is waar alles in moet dit is de opmaak voor alle paginas dus staat apart en van boven*/
/*ook de H1 indiend deze er is komt mooi in het midden*/
h1{
    display: flex;
    justify-content: center;
    text-align: center;
}
h2{
    display: flex;
    justify-content: center;
    text-align: center;
}


p{
    text-align: center;
}

/*knop word op meerdere plaatsen gebruikt deze word hier ook op voorhan al gemaakt*/

.knop{
    width: 200px;
    height: 60px;
    /* text in het midden zetten*/
    display: flex;
    justify-content: center;
    align-items: center;


    background-color:#EC7063;

    margin-top: 40px;
    margin-left: 200px;
    color: black;
    text-decoration: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style:initial;

}
.knop:hover{
    background-color:#daa520;
    color: #A9A9A9	;
    
}


/*HIER KOMT ALLES VAN INDEX.PHP*/

.content{
     /*KLEUR VAN HET VLAK*/
     background-color: #33DBFF;

     /*GROOTTE VAN HET VLAK*/
     min-height: 700px;
     width: 600px;
 
     /*POSITIE OP DE PAGINA VAN HET VLAK*/
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
 
     /*WITRUIMTE INTERN TOV BOVENKANT*/
     padding-top: 10px;
 }
.gif-main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.first_text{
    display: flex;
    justify-content: center;
    align-items: center;
}








/*pagina houses*/
/*deze zijn anders getagt omwille van in een 2x2 tabel te staan gewoon op de class genoemd*/




.img_user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27px;

}
.info{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-bottom: 700px;
}

    
.game_buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;   
}

.knop_houses{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 10px;


    background-color:#EC7063;

   
    color: black;
    text-decoration: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style:initial;
}

.knop_houses:hover{
    background-color:#daa520;
    color: #2cf4e0	;
}



/*Hier komt alles van de pagina aanmelden.php*/

.foto_aanmelden{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_aanmelden{
    width: 10%;
    height:10%;
    margin-top: -250px;
    margin-left: 50px;
    position: relative;
   
}
/*hier komt alles van de aanmelden.php pagina*/
/* placing form*/
.form{
    margin-left: 10px;
    text-align: center;
}

/* input met class type field color and with*/
input.input_field{
    background-color: #eeeeee;
    width: 300px;
}

/*submit button with other class name  but the same things except the margin left , some changes for centering*/
.knop_createNewMember{
    width: 200px;
    height: 60px;
    /* text in het midden zetten*/
    display: flex;
    justify-content: center;
    align-items: center;


    background-color:#EC7063;

    margin-top: 50px;
    margin-left: 190px;
    color: #000000	;
    text-decoration: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style:initial;

}
.knop:hover{
    background-color: goldenrod;
    color: #808080	;
    
}

/* allles van de aangemeld pagina*/

.groenlicht{
    background-color: green;
}

.img_succes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraaf{
    text-align: center;

}

